* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #00ff15, yellow);
    background-size: cover;
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 150vh;
    margin: 0;
}

header {
    font-size: 1.7rem;
    font-weight: bolder;
    color: rgb(20,20,20);
    opacity: .7;
}

header,
form {
    padding-top: 5rem;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form input:focus{
    outline: 0;
}


form button{
    color: tomato;
    background:  white;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:focus{
    outline: 0;
}

form button:hover{
    background: tomato;
    color:  white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.todo-list{
    min-width: 50%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background:  white;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .35s ease;
    
}
.todo li{
    flex: 1;
}

.completed-button,
.delete-button{
    cursor: pointer;
    background: rgb(5, 172, 5);
    color:  white;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    transition: all 2s ease;
}

.completed-button:hover{
    background: rgb(50, 212, 0);
}

.delete-button{
    background: rgb(214, 22, 22);
}

.delete-button:hover{
    background: rgb(255, 0, 0);
}

.fa-check-square{
    pointer-events: none;
}

.fa-minus-square {
    pointer-events: none;
}

.todo-item{
    padding: 0 0 0 0.8rem;
}

.completed{
    opacity: 0.5;
    text-decoration: line-through;
}

.deleted{
    transform: translateY(8rem) rotateZ(20deg);
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: rgb(84, 139, 0);
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: rgb(84, 139, 0);
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}
.select:hover::after {
    background:  white;
    color: rgb(99, 165, 0);;
}

.glass{
    position: absolute;
    left: 5%;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 8rem;
    backdrop-filter: blur(6px);
    background: linear-gradient(to right bottom, rgba(255,255,255,0.3),rgba(255,255,255,0.1));
    width: 90%;
    margin: auto;
    border-radius: 2rem;
    box-shadow: 3px 3px 8px rgb(126, 126, 126);
}
